body {
    font-size: 14px;
    font-family: Oswald, "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:20px 20px;
    color: #041e42;
}

.display-block {
    display: block;
}
.results tr[visible='false'], .no-result {
    display:none;
}

.results tr[visible='true'] {
    display:table-row;
}

.header {
    margin: auto;
}

.wrapper {
    padding: 20px;
    width: 100%;
}

.nav-bar {
    margin: 20px auto;
    width: 100%;
    padding-top: 0;
}

.mobile-tbody {
    margin-bottom: 50px;
}


.blank-row {
    margin-bottom: 20px;
    border: none;
}

footer {
    margin-top: 25px;
}
.page-header {
	margin-top: 0;
	padding-top: 25px;
	padding-left: 72px;
	background-color: #041e42;
	border-radius: 5px;
	height: 150px;
	color: white;
}

.page-header span {
    color: #ae9c6e;
    font-size: 50px;
    font-weight: bold;
}

.course-table {
    width:700px;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #041e42;
    color: white;
}

.btn-info {
    background-color: #041e42;
    border-color: #041e42;
}

.btn-info:hover, .btn-info:active:focus, .btn-info:focus,
.btn-danger:hover, .btn-danger:active:focus, .btn-danger:focus {
    background-color: #ae9c6e;
    border-color: #ae9c6e;
}

.btn-success, .btn-danger {
    background-color: #ae9c6e; 
    border-color: #ae9c6e;
}

.btn-success:hover, .btn-success:active:focus, .btn-success:focus {
    background-color: #041e42;
    border-color: #041e42;
}

.prof-table {
    width: 500px;
    padding: 20px;
}

.input-container {
    width: 30%;
}

.rt-textarea {
    padding-top: 10px;
    padding-left: 50px;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.error {
    color: #a94442;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination > li > a {
    color: #041e42;
}
#evalformbtn {
    float: none;
}

#grade, #rating, #timespent, #reason, #gpa {
    margin-bottom: 18px;
}

.help-block {
    margin-top: 10px;
}

.search {
    width: 100%;
    display: inline-block;
    float-left: auto;
}
.search-box {
    width: 80%;
}

.inline-block {
    display: inline-block;
}

@media only screen and (max-width: 480px) {
    .tablemobile {
        overflow-x: auto;
        display: block;
    }

    .search .btn {
        margin-top: 15px;
    }
    
    .nav-bar a {
        margin-top: 10px;
    }

    .page-header {
        height: 100%;
        padding-left: 25px;
        padding-bottom: 25px;
    }
}

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}