body {
    font: 14px sans-serif;
    padding:20px 20px;
}

@media only screen and (max-width: 480px) {
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

.results tr[visible='false'], .no-result {
    display:none;
}

.results tr[visible='true'] {
    display:table-row;
}

.header {
    margin: auto;
}

.wrapper {
    padding: 20px;
    width: 100%;
}

.nav-bar {
    padding: 20px;
    padding-left: 72px;
}

.page-header {
    padding-top: 25px;
    padding-left: 72px;
    background-color: #1c4254;
    border-radius: 5px;
    height:300px;
    color: white;
}

.page-header span {
    color: red;
    font-size: 50px;
    font-weight: bold;
}

.course-table {
    width:700px;
    padding: 20px;
}

table th {
    font-weight: bold;
    background-color: #1c4254;
    color: white;
}

.prof-table {
    width: 500px;
    padding: 20px;
}

.onlinehelp-file ul {
    text-align: left;
}

.onlinehelp-file p {
    text-align: left;
    padding-left: 30px;
}

.onlinehelp-file button {
    height: 40px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-family:fantasy;
    background-color: #1c4254;
}

.input-container {
    width: 30%;
}

.rt-textarea {
    padding-top: 22px;
    padding-left: 50px;
}

.left
{
    float: left;
}

.right 
{
    float: right;
}