body {
 	font: 14px sans-serif;
 	text-align: center;
 	padding:20px 20px;
 }

@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}
.results tr[visible='false'],

.no-result{
  	display:none;
}

.results tr[visible='true']{
  	display:table-row;
}

.header {
	margin: auto;
}

.wrapper {
	width: 350px;
	padding: 20px;
}

.nav-bar {
	padding: 20px;
	padding-left: 72px;
}

.page-header {
  padding-top: 25px;
	padding-left: 72px;
  background-color: #1c4254;
  border-radius: 5px;
  height:300px;
  color: white;
}

.page-header span{
  color: red;
  font-size: 50px;
  font-weight: bold;
}

.onlinehelp{
  padding-left: 10px;
}

.course-table {
	width:700px;
	padding: 20px;
}

table th{
  font-weight: bold;
  background-color: #1c4254;
  color: white;
}

.prof-table {
	width: 500px;
	padding: 20px;
}
.onlineHelp {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}
