body { 
 	font: 14px sans-serif;
 	text-align: center;
 	padding:20px 20px;
 }

@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}
.results tr[visible='false'],

.no-result{
  	display:none;
}

.results tr[visible='true']{
  	display:table-row;
}

.header {
	margin: auto;
}

.wrapper { 
	width: 350px;
	padding: 20px;
}

.nav-bar {
	padding: 20px;
	margin-bottom: 30px;
}
.course-table {
	width:700px;
	padding: 20px;
}
